{
  "extends": [
    "./node_modules/kcd-scripts/eslint.js", "plugin:flowtype/recommended"
  ],
  "plugins": ["flowtype"],
  "rules": {
    "react/jsx-closing-bracket-location": 0,
    "import/prefer-default-export": 0
  }
}

